<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=ale202501.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=‌ApiSphere;User ID=Ale;Password=P+09MClYJGSfitK2Hs+hcg==;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="licenseCode" value="DA755B-3BCE61-BD15C7-FD9C3D-A959AE-087A3E"/>
		<add key="licenseDate" value="2025-01-06"/>
		<add key="dataUploadUrl" value="http://127.0.0.1:8201/api/json/set"/>
	</appSettings>
</configuration>